div {
  height: 200px;
}
div.penguins {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
  border: 3px solid black;
  border-radius: 60%;
}
div.penguins1 {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
  border: 3px solid black;
  border-radius: 60%;
  height: 200px;
  width: 100%;
}
div.penguins2 {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
  border: 3px solid black;
  border-radius: 60%;
  height: 200px;
  width: 400px;
}
div.penguins3 {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
  border: 3px solid black;
  border-radius: 60%;
  height: 200px;
}

/* other images here */
div.football_field {
  background-image: url(../images/football_field.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 1px solid black;
  border-image: url(../images/tic-tac-toe.png) 30 round;
  height: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
div.dinosaur {
  background-image: url(../images/dinosaur.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  height: 200px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}
