div {
  height: 200px;
}
div.penguins {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 230px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(40%);
  filter: sepia(40%);
  border: 3px solid black;
  border-radius: 60%;
  height: 200px;
  width: 400px;
}
/* image above is good - will leave like that */
div.football_field {
  background-image: url(../images/football_field.jpg);
  background-repeat: no-repeat;
  background-size: auto 186px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 40px solid black;
  border-image: url(../images/tic-tac-toe.png) 40 round;
  height: 200px;
  width: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
div.dinosaur {
  background-image: url(../images/dinosaur.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 1px solid black;
  height: 200px;
  width: 400px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000) hue-rotate(90deg);
}
div.seagull {
  background-image: url(../images/seagull.png), linear-gradient(to right, rgba(123, 104, 238, 1.0), Lavender, Snow);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 1px solid black;
  height: 200px;
  width: 400px;
}
div.butterfly {
  background-image: url(../images/butterfly.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 1px solid black;
  height: 200px;
  width: 400px;
}
