div {
  height: 200px;
}
div.penguins {
  background-image: url(../images/penguins.jpg);
  background-repeat: no-repeat;
  background-size: auto 230px;
  background-origin: content-box;
  background-position: 50% 50%;
  -webkit-filter: sepia(40%);
  filter: sepia(40%);
  border: 3px solid black;
  border-radius: 60%;
  height: 200px;
  width: 350px;
  margin-bottom: 60px;
}
div.football_field {
  background-image: url(../images/football_field.jpg);
  background-repeat: no-repeat;
  background-size: auto 186px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 40px solid black;
  border-image: url(../images/tic-tac-toe.png) 40 round;
  height: 200px;
  width: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 60px;
}
div.dinosaur {
  background-image: url(../images/dinosaur.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  height: 200px;
  width: 400px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000) hue-rotate(90deg);
  filter: drop-shadow(5px 5px 5px #000000) hue-rotate(90deg);
  margin-bottom: 60px;
}
div.seagull {
  background-image: url(../images/seagull.png), linear-gradient(to bottom right, rgba(123, 104, 238, 0.70), rgba(230, 230, 250, 1.0), rgba(255, 250, 250, 1.0));
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: 50% 50%;
  background-origin: content-box;
  -webkit-filter: drop-shadow(0px 15px 5px lightgrey);
  filter: drop-shadow(0px 10px 5px lightgrey);
  height: 200px;
  width: 400px;
  margin-bottom: 60px;
}
div.butterfly {
  background-image: url(../images/butterfly.jpg);
  background-repeat: no-repeat;
  background-size: auto 230px;
  background-position: 50% 50%;
  background-origin: content-box;
  border: 1px solid white;
  border-radius: 100px 0px;
  -webkit-filter: invert(100%) brightness(160%) saturate(50%);
  filter: invert(100%) brightness(160%) saturate(60%);
  height: 200px;
  width: 360px;
}
div.theater {
	height: 200px;
	width: 200px;
}
div.div2 {
	background-image: url(../images/theater_stage.jpg);
	background-repeat: no-repeat;
	background-size: auto 200px;
	background-position: 50% 50%;
	background-origin: content-box;
	-webkit-filter: blur(3px);
	filter: blur(3px);
	height: 200px;
	width: 200px;
	z-index:100;
}
p {
	position: relative; top: 70%; left: 35px;
	color: white;
	font-size: 28px;
	font-family: Arial;
	-webkit-filter: drop-shadow(5px 5px 5px black);
	filter: drop-shadow(5px 5px 5px black);
	z-index:200;
}

